.loginUi {
  background: url("../../../public/images/login.png");
}

.loginDiv {
  width: 35rem;
  height: fit-content;
  margin: auto;
}
.form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.tiny {
  font-size: 0.6rem;
  color: red;
  position: relative;
  bottom: 1rem;
  right: 0;
}

.input {
  display: flex;
  width: 20rem;
  height: 3rem;
  background: #fff;
  border: 1px solid gray;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

input {
  outline: none;
  width: 80%;
  background: none;
}
