.filterBox{
    min-width: 16rem;
    height: max-content;
    background: #fff;

    
}


.filterSubBox{
    /* height: 4rem; */
    /* height: max-content; */
    width: 100%;
    padding: 1rem ;
    border-bottom: 1px solid #f1f1f4;

}
.filterSubBox:last-child{
    border-bottom: none;
}

.inputWrapper{
    display: flex;
    /* justify-content: center; */
    /* gap: .5rem; */
    /* background-color: aqua; */
    align-items: center;
    margin-top: .5rem;
}

.inputWrapper>input{
    width: 1.5rem;
    margin: .5rem .75rem;
}