.paginationDiv{
    display: flex;
}
.pagination{
    display: flex;
    justify-content: center;
}

.paginationDiv{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products{
    padding-left: 1rem;
}