.dressLoading {
    /* width: 100px;
    height: 100px; */
    position: relative;
    animation: moveUpDown 3s ease-in-out infinite;
    scale: 1.2;
  }
  
  @keyframes moveUpDown {
    0%{
      transform: translateY(0);
    }
    50% {
      transform: translateY(100px);
    }
    100%{
        transform: translateY(-100px);
    }
  }